/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}

@value nightDark: #002b56;
@value nightMedium: #094c69;
@value nightLight: #096877;

@value skyBlue: #38aeda;
@value seaBreeze: #78c2d3;
@value morningLight: #bed9cc;
@value white: #dff4ea;

@value medium: 768px;
@value large: 1024px;

html {
  font-family: 'Inconsolata', sans-serif;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(nightDark, nightMedium, nightLight);

  @media (min-width: medium) {
    font-size: 18px;
  }

  @media (min-width: large) {
    font-size: 20px;
  }
}

html::after {
  background-image: url('./assets/nature.png');
  content: '';
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

input[type='text'],
textarea {
  background-color: rgba(24, 24, 24, 0.6);
  color: white;
}
