@value breakpoints: '../../main.css';

@value medium, large from breakpoints;

.dailyForecast {
  min-height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.header {
  font-size: 1.2rem;
  min-width: 100%;
}

.day {
  flex: 1 1 6rem;
  margin: 2rem;
  max-width: 6rem;

  @media (min-width: medium) {
    max-width: 7rem;
    flex: 1 1 7rem;
    margin: 2.5rem;
  }
}

.maxTemp {
  font-weight: 700;
}

.minTemp {
  opacity: 0.7;
}

.summary {
  overflow-y: scroll;
  max-height: 6rem;

  @media (min-width: large) {
    overflow-y: visible;
  }
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  margin: 0 0.3rem;
}

.tempContainer {
  display: flex;
  align-items: center;
}
