.weatherPanel {
  min-height: 20rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  font-size: 1.5rem;
}

.day {
  flex: 1 1 5rem;
  margin: 1rem;
}
