@value nightDark, nightMedium, nightLight from '../../main.css';

.background {
  background-image: linear-gradient(nightDark, nightMedium, nightLight);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}
